img {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body {
    background-color: rgb(175, 185, 185);
}




h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    text-align: center;
}
.paraf1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
}



h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    text-align: center;
}
.paraf2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
}
.paraf25 {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
}


h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    text-align: center;
}
.paraf3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
}
.paraf35 {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
}

form {
    text-align: center;
}
label{
    color: rgb(0, 0, 0);
}